<%= simple_form_for(@user, url: registration_path(@user), html: { class: 'form-user' }) do |f| %>

<%= f.input :email, placeholder: "Email", label: false %>
<%= f.input :password, placeholder: "Lösenord", label: false %>
<%= f.input :password_confirmation, placeholder: "Lösenordsbekräftelse", label: false %>
<%= f.input :username, placeholder: "Användarnamn", label: false %>
<%= f.input :social_security_number, placeholder: "Personnummer", label: false %>
<div class="row" style="margin-right: -15px; margin-left: -15px">
  <div class="col-lg-6">
    <%= f.input :first_name, placeholder: "Namn", label: false %>
  </div>
  <div class="col-lg-6">
    <%= f.input :surname, placeholder: "Efternamn", label: false %>
  </div>
</div>
<%= f.input :phone_number, placeholder: "Tel. nummer", label: false %>
<%= f.input :address, placeholder: "Adress", label: false %>
<div class="row" style="margin-right: -15px; margin-left: -15px">
  <div class="col-lg-3">
    <%= f.input :postal_code, placeholder: "Postnummer", label: false %>
  </div>
  <div class="col-lg-9">
    <%= f.input :postal_address, placeholder: "Ort", label: false %>
  </div>
</div>
<%= f.button :submit, "Registrera", class: 'btn btn-lg btn-primary btn-block' %>
<br>
<%= render "devise/shared/links" %>
<% end %>