<h1><%= @article.title %></h1>
<p><%= @article.created_at %></p>
<p><%= markdown @article.text %></p>
<%= link_to 'Back', articles_path%>
<br>
<br>

<% @article.comments.each do |comment| %>
	<p><%= comment.commenter %></p>
	<p><%= comment.body %></p>
<% end %>

<h3>Kommentera</h3>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label "Namn" %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label "Text" %><br>
    <%= f.text_area :body%>
  </p>
  <p>
    <%= f.submit 'Submit'%>
  </p>
<% end %>
