<%= f.input :name, label: false, placeholder: "Row name" %>
<%= f.input :x_coord, html: { class: "col-md-4"}, label: false, placeholder: "X coordinate" %>
<%= f.input :y_coord, html: { class: "col-md-4"}, label: false, placeholder: "Y coordinate" %>
<h4>Seats</h4>
<%= f.nested_fields_for :seats do |seat| %>
  <%= seat.remove_nested_fields_link "x", class: 'close', role: 'button' %>
  <%= render 'seat_fields', :f => seat %>
<% end %>
<%= f.add_nested_fields_link :seats, 'Add seat', class: 'btn btn-primary', role: 'button' %>
