<div class="row create-content">
  <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'create-content' }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <h2>Please change your password</h2>
      <%= f.input :password, placeholder: 'New password', label: false, class: 'sr-only', autocomplete: 'off', autofocus: true %>
      <%= f.input :password_confirmation, placeholder: 'Confirm password', label: false, class: 'sr-only', autocomplete: 'off' %>
      <%= f.button :submit, "Change my password", class: 'btn btn-lg btn-primary btn-block'  %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
