<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr>
	</div>
</div>
<div class="pad-section footer">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2" data-no-turbolink>
			<%= link_to 'Nyheter', articles_path %>
			<%= link_to 'Event', events_path %>
			<%= link_to 'Om oss', '/about' %>
		</div>
		<div class="col-xs-1">
			<%= image_tag "NG_logo.png" %>
		</div>
		<div class="col-xs-3" style="margin-right:0"  data-no-turbolink>
			<%= link_to 'Cookies', '/cookies', :class => "footer-link" %>
		</div>
	</div>
</div>
