<div class="pad-div", style="background: url(<%= event.image_url.to_s %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-vcenter">
        <h1><%= event.name %></h1>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-lg-3 col-lg-offset-0">
      <div class="text-vcenter">
        <h1><%= event.price.nil? ? "0" : event.price %>kr</h1>
      </div>
    </div>
  </div>
</div>

<div class="pad-section">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <%= markdown event.description %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Destroy', event_path(event), method: :delete, data: {confirm: 'Are you sure?'} %>
        <%= link_to 'Edit', edit_event_path(event) %>
      <% end %>

      <%= form_tag event_pay_path(event), id: "event" + event.id.to_s + "form" do %>
        <script src="https://checkout.stripe.com/checkout.js"></script>

        <button id="event<%= event.id %>-button" class="btn btn-lg btn-primary">Köp biljett</button>

        <script>
          var amount = <%= event.price %>
          <% if user_signed_in? && current_user.has_paid? %>
            amount -= 50; 
          <% end %>
          var handler = StripeCheckout.configure({
            key: '<%= Rails.configuration.stripe[:publishable_key] %>',
            locale: 'auto',
            token: function(token) {
              var tokenInput = $("<input type=hidden name=stripeToken value='" + token.id + "'/>");
              var emailInput = $("<input type=hidden name=stripeEmail value='" + token.email + "'/>");
              var amountInput = $("<input type=hidden name=stripeAmount value='" + amount*100 +"' />");
              $("#event<%= event.id.to_s %>form").append(tokenInput).append(emailInput).append(amountInput).submit();
            }
          });

          $('#event<%= event.id %>-button').on('click', function(e) {
            // Open Checkout with further options
            handler.open({
              name: 'Biljett',
              image: '<%= asset_path 'NG_logo.png' %>',
              description: 'Biljett till <%= event.name %>',
              zipCode: true,
              currency: "sek",
              amount: '<%= event.price*100 %>'
            });
            e.preventDefault();
          });

          // Close Checkout on page navigation
          $(window).on('popstate', function() {
            handler.close();
          });
        </script>
      <% end %>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-lg-3 col-lg-offset-0">
      <h3>Plats</h3>
      <p><%= event.location %></p>
      <h3>Pris</h3>
      <p><%= event.price %>kr</p>
      <h3>Tid</h3>
      <p><b>Börjar: </b><%= event.start_at.strftime("%d %b, %Y %H:%M:%S") %></p>
      <p><b>Slutar: </b><%= event.end_at.strftime("%d %b, %Y") %></p>
      <p><b>Sista reservering: </b><%= event.last_reserv_date.strftime("%d %b, %Y") %></p>
      <%= react_component "Countdown", {startTime: event.start_at.strftime("%Y-%m-%d %H:%M:%S"), currentTime: Time.now.in_time_zone.strftime("%Y-%m-%d %H:%M:%S"), endTime: event.end_at.strftime("%Y-%m-%d %H:%M:%S")} %>
    </div>
  </div>
</div>
