<div class="pad-div", style="background: url(<%= event.image_url.to_s %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-vcenter">
        <h1><%= event.name %></h1>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-lg-3 col-lg-offset-0">
      <div class="text-vcenter">
        <h1><%= event.price.nil? ? "0" : event.price %>kr</h1>
      </div>
    </div>
  </div>
</div>

<div class="pad-section">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <%= markdown event.description %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Destroy', event_path(event), method: :delete, data: {confirm: 'Are you sure?'} %>
        <%= link_to 'Edit', edit_event_path(event) %>
      <% end %>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-lg-3 col-lg-offset-0">
      <h3>Plats</h3>
      <p><%= event.location %></p>
      <h3>Pris</h3>
      <p><%= event.price %>kr</p>
      <h3>Tid</h3>
      <p><b>Börjar: </b><%= event.start_at.strftime("%d %b, %Y %H:%M:%S") %></p>
      <p><b>Slutar: </b><%= event.end_at.strftime("%d %b, %Y") %></p>
      <p><b>Sista reservering: </b><%= event.last_reserv_date.strftime("%d %b, %Y") %></p>
      <%= react_component "Countdown", {startTime: event.start_at.strftime("%Y-%m-%d %H:%M:%S"), currentTime: Time.now.in_time_zone.strftime("%Y-%m-%d %H:%M:%S")} %>
    </div>
  </div>
</div>
