<h1>Events#show</h1>
<h3><%= @event.name %></h3>
<p><%= @event.description %></p>
<p><%= @event.last_reserv_date %></p>
<p><%= @event.start_at %></p>
<p><%= @event.end_at %></p>
<p><%= @event.location %></p>
<p><%= @event.seatmap.name %></p>
