<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsor.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>

<p>
  <strong>Link:</strong>
  <%= @sponsor.link %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
