<div class="pad-div", style="background: url(<%= asset_path 'bg.jpg' %>) no-repeat center center fixed">
  <div class="text-vcenter">
    <h1 cla>Föreningen</h1>
  </div>
</div>


<div class="pad-section title">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <h1>Styrelsen</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('max.jpg', :class => 'img-responsive img-circle') %>
      <h2>Max Horttanainen</h2>
      <h3>Ordförande</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('victor.jpg', :class => 'img-responsive img-circle') %>
      <h2>Victor Hanson</h2>
      <h3>Sekreterare</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('vlad.jpg', :class => 'img-responsive img-circle') %>
      <h2>Vladislav Valiev</h2>
      <h3>Ledamot</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('big.jpg', :class => 'img-responsive img-circle') %>
      <h2>Kevin Hoogendijk</h2>
      <h3>Ledamot</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('max.jpg', :class => 'img-responsive img-circle') %>
      <h2>Max Horttanainen</h2>
      <h3>Ordförande</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('victor.jpg', :class => 'img-responsive img-circle') %>
      <h2>Victor Hanson</h2>
      <h3>Sekreterare</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('vlad.jpg', :class => 'img-responsive img-circle') %>
      <h2>Vladislav Valiev</h2>
      <h3>Ledamot</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('big.jpg', :class => 'img-responsive img-circle') %>
      <h2>Kevin Hoogendijk</h2>
      <h3>Ledamot</h3>
    </div>
  </div>
</div>
