<div class="pad-div", style="background: url(<%= asset_path 'bg.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    	<div class="text-vcenter">
      	<h1><%= current_user.first_name %> "<%= current_user.username%>" <%= current_user.surname %></h1>
    	</div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
  	<div class="col-xs-10 col-xs-offset-1 col-lg-2"><%= image_tag current_user.gravatar_url(:size => 1000), :class => "img-responsive img-circle" %></div>
  	<div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
  		<table class="profile-table">
        <tbody>
          <tr>
            <td>Namn</td>
            <td><%= current_user.first_name %> <%= current_user.surname %></td>
          </tr>
          <tr>
            <td>Medlem i</td>
            <td><%= distance_of_time_in_words(Time.now, current_user.created_at) %></td>
          </tr>
          <tr>
          	<td>Senast inloggad</td>
          	<td><%= distance_of_time_in_words_to_now(current_user.current_sign_in_at) %> sedan</td>
          </tr>
          <tr>
          	<td>inloggningar</td>
          	<td><%= current_user.sign_in_count %>st</td>
          </tr>
        </tbody>
      </table>
  	</div>
  </div>
</div>