<%= simple_form_for(@row) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :x_coord %>
    <%= f.input :y_coord %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
