<p id="notice"><%= notice %></p>

<h1>Listing Rows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>X coord</th>
      <th>Y coord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rows.each do |row| %>
      <tr>
        <td><%= row.name %></td>
        <td><%= row.x_coord %></td>
        <td><%= row.y_coord %></td>
        <td><%= link_to 'Show', row %></td>
        <td><%= link_to 'Edit', edit_row_path(row) %></td>
        <td><%= link_to 'Destroy', row, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Row', new_row_path %>
