<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @row.name %>
</p>

<p>
  <strong>X coord:</strong>
  <%= @row.x_coord %>
</p>

<p>
  <strong>Y coord:</strong>
  <%= @row.y_coord %>
</p>

<%= link_to 'Edit', edit_row_path(@row) %> |
<%= link_to 'Back', rows_path %>
